.modo-claro{
    background-color: white;
    color: black;
}

.modo-escuro{
    background-color: black;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1rem 0;
}

button{
    width: 100px;
    height: 50px;

    border-radius: 25rem;

    display: flex;
    align-items: center;
    padding: 1rem ;
}

.logo{
   width: 4rem;
   height: 4rem; 
}

header button img:first-child{ /*estilizando a primeira img*/
    width: 2rem;
    height: 2rem;
}


.sessaoBanner{
    background-image: url(/public/assets/banner-barbearia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;
}

.sessaoConteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessaoConteudo div{
    width: 70%;
    text-align: center;

    padding: 4rem 0;
}

.sessaoConteudo h1{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.sessaoConteudo div p{
    padding-bottom: 2rem;
}

.paragrafo-diferente{
    color: #BCA68F;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
}